########
# Maven
########

# Output files
target/


#######
# Intelij IDEA
#######

# Setting intelij IDEA workspace
.idea/
Snake.iml

# Output files
out/

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store